.container {
    width: 50%;
    height: 100%;
}

/* Image container */
.container:nth-child(1) {
    align-self: flex-end;
    height: 90%;
    background-image: url("../images/illustrations/Doctor-pana.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 70%; */
}

/* The form container */
.container:nth-child(2) {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Heading section */
#heading {
    width: 300px;
}

#heading h2 {
    font-size: 45px;
    margin-bottom: 5px;
}

#heading p {
    color: #696969;
}

.formSection {
    margin: 20px 0px;
}

.inputLabel {
    font-size: 13px;
    color: #696969;
}

.formSection input[type="text"], input[type="password"] {
    width: 300px;
    height: 45px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
    background-color: #F2F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    color: #000;
}

/* Radio button section */
.formSection:nth-child(1) {
    width: 320px;
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
}

.formSection:nth-child(1) div {
    background-color: #F2F0F0;
    /* background-color: #fff; */
    margin: 5px 5px 5px 0px;
    width: 150px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

/* This adds some space between the label and the radio button's circle */
.formSection:nth-child(1) div input {
    margin-left: 5px;
}

.formSection:nth-child(4) {
    width: 300px;
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: #696969;
    margin: 30px 0px 0px 0px;
}

.formSection:nth-child(4) a {
    color: #b29771;
}

.formSection:nth-child(5) {
    margin: 10px 0px;
}

.formSection:nth-child(5) button{
    width: 300px;
    height: 45px;
    border: 1px solid #21304D;
    border-radius: 3px;
    background-color: #21304D;
    color: #fff;
}

/* Error message styling */
.errorMessage {
    font-size: 13px;
    color: rgb(253, 55, 55);
}